node_modules

## Directory-based project format
.idea/
/*.iml

# if you remove the above rule, at least ignore user-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries
# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/dynamic.xml

## File-based project format
*.ipr
*.iws
coverage
